.text-columns-wrapper {
  margin-left: 12rem;
}

.text-columns-items {
  display: flex;
  flex-direction: row;
  gap: var(--grid-desktop-vertical-spacing);
}

.text-columns-list-items {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 3.5rem;
  margin-top: 3rem;
  padding-inline-start: var(--Spacingspacing-sm);
}

.text-columns-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  border-radius: var(--radius-12);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  width: 25%;
}

.text-columns-intro {
  width: 54%;
}

.text-columns-intro h2 {
  width: 38%;
  margin-bottom: 2.2rem;
}

.text-columns-item-content {
  max-width: 70%;
}

.text-columns-item-title {
  font-size: var(--text-base);
  font-weight: 700;
}

.text-columns-item-title {
  margin-block-end: 0;
}

@media screen and (max-width: 1275px) {
  .text-columns-wrapper {
    margin-left: 6rem;
    width: 100%;
  }
}

@media screen and (max-width: 989px) {
  .text-columns-wrapper {
    margin-left: 0;
  }

  .text-columns-items {
    flex-direction: column;
    gap: var(--grid-mobile-vertical-spacing);
  }

  .text-columns-list-items {
    gap: var(--grid-mobile-vertical-spacing);
    margin-block-start: 0;
  }

  .text-columns-item {
    gap: 3.2rem;
    padding: 2.5rem;
    width: 100%;
  }

  .text-columns-intro,
  .text-columns-intro h2 {
    width: 100%;
  }

  .text-columns-list-items {
    padding-inline-start: 0;
  }
}

@media screen and (max-width: 684px) {
  .text-columns-item {
    flex-direction: row;
  }

  .text-columns-list-items {
    flex-direction: column;
  }
}
